/* Structure */
.container {
  position: relative;
  min-height: 200px;
}

.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.offset-table {
  margin-left: 60px;
  margin-right: 60px;
}
